
.colPrimary{
    fill:$brand-primary;   
}
.colSecondary{
    fill:$brand-secondary;   
}
.colBase{
    fill:lighten($brand-primary,100%);
}
.colGrey{
    fill: $dark-gray;
}
.logo-subline{
    display:none;
}

.post-edit-link{
    font-size:$rem-base;
    text-transform:none;
    color:$brand-primary;
    @include border-radius (4px);
    a:hover, a:focus{text-decoration:none;}
    &:before{
        @include icon-style ("\f040", .5em, 1, .5em, 1em);
    }
    .box & > span{
        display:inline-block;
    }
}