
.colPrimary{
    fill:$brand-primary;   
}
.colSecondary{
    fill:$brand-secondary;   
}
.colBase{
    fill:lighten($brand-primary,100%);
}
.colGrey{
    fill: $dark-gray;
}
.logo-subline{
    display:none;
}

.post-edit-link{
    &:before{
        @include icon-style ("\f040", .5em, 1, .5em, .5em);
    }
    .box & > span{
        @extend %text-indent;
        dispplay:inline-block;
        width: 0px;
        height:0px;
    }
}