@mixin active-style {
	background:$brand-primary;
        background-image:none !important;
	color:$white;
}
    
/*** Carousel ***/
@mixin carousel-caption($bg,$pos,$top,$left,$align,$z) {
    background: $bg;
    position: $pos;
    top: $top;
    left: $left;
    width: inherit;
    text-align: $align;
    text-shadow: none;
    z-index: $z;
}
@mixin carousel-indicator-style($box-size,$bd,$indent,$color,$align) {
    height: $box-size;
    width: $box-size;
    line-height: $box-size;
    border: $bd;
    text-indent: $indent;
    color: $color;
    text-align: $align;
}
@mixin carousel-control-style ($bg,$bd,$size,$weight,$box-size,$mg-t,$op,$pos,$top,$left,$align,$color,$bg-img){
    background: $bg;
    border: $bd;
    font-size: $size;
    font-weight: $weight;
    height: $box-size;
    line-height: $box-size - 10px;
    margin-top: $mg-t;
    opacity: $op;
    position: $pos;
    top: $top;
    left: $left;
    text-align: $align;
    width: $box-size;
    color: $color;
    background-image: none;
    text-shadow: none;
}
/**** caret ****/
@mixin caret-right-style ($size,$ml) {
    border-bottom: $size solid transparent;
    border-left: $size solid currentColor;
    border-top: $size solid transparent;
    border-width: $size 0 $size $size;
    margin-left: $ml;
}
@mixin caret-down-style ($size) {
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: currentColor;
    border-width: $size; 
    border-style: solid;
}

/*** Panels ***/
@mixin panel-styling {
        /** Inner Panel Positions ***/
    @include flexbox-container;
    justify-content: space-between;
    @include flex-wrap(column,wrap);
/*    > h3 > a {display: block;overflow:hidden;}*/
    > h3, .btn {
        @include flex(1);
    }
    > .text{
        @include flex(2);
    }
    > .btn {
        max-height:36px;
        max-width: 180px;
    }
    > h3 {
    max-height:60px;
  
    }
}

/*** Buttons ***/
@mixin button-style ($r, $pd, $font) {
    -webkit-border-radius: $r;
    border-radius: $r;
    border-width: 0;
    box-shadow: none;
    padding: $pd;
    font-size: $font;
    line-height: 1;
}

.foo{
    border:1px solid $foo;
}