@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*** BSP: @extend %reset;***/
/*** Mixins & Placeholders ***/
/**** caret ****/
/* Bsp. @include alpha-background-color(rgba(black, 0.35), white); */
/******* SVG *********/
/* Mediaqueries breakpoints */
/* Helper Classes */
/* =============================================================================
   Colors
   ========================================================================== */
/*** Info Graphic ***/
/* =============================================================================
   Height & Widths
   ========================================================================== */
/* Margins & Paddings */
/*** Carousel ***/
/**** caret ****/
/*** Panels ***/
/*** Buttons ***/
#logo {
  border: 1px solid red; }

.colPrimary {
  fill: #2466a8; }

.colBase {
  fill: white; }

.colGrey {
  fill: #4d4d4d; }

.logo-subline {
  display: none; }

/*
@import 'base/_ui';
@import 'base/_form';
@import 'base/_media';

*/
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  .container#header > .logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .container#header > .logo:last-child {
      margin-right: 0; }
  .container#header > .contact-data {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .container#header > .contact-data:last-child {
      margin-right: 0; }
  .container .panels {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;
    -ms-flex-align: stretch; }
    @media screen and (max-width: 768px) {
      .container .panels {
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column; } }
    @media screen and (min-width: 992px) {
      .container .panels {
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        flex-direction: row;
        -ms-flex-direction: row; } }
    .container .panels > * {
      margin: 1em; }
    .container .panels.related > * {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      box-flex: 1;
      -webkit-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .container .panels.subpages {
      -webkit-box-lines: multiple;
      -moz-box-lines: multiple;
      box-lines: multiple;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .container .panels.subpages > * {
        -webkit-flex-grow: 1;
        -moz-flex-grow: 1;
        flex-grow: 1;
        -ms-flex-positive: 1;
        -webkit-flex-shrink: 1;
        -moz-flex-shrink: 1;
        flex-shrink: 1;
        -ms-flex-negative: 1;
        -webkit-flex-basis: calc(100%/4);
        -moz-flex-basis: calc(100%/4);
        flex-basis: calc(100%/4);
        -ms-flex-preferred-size: calc(100%/4); }
  .container .site-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .container .site-content::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-width: 992px) {
      .container .site-content > .main-content {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%; }
        .container .site-content > .main-content:last-child {
          margin-right: 0; }
      .container .site-content > .sidebar {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        .container .site-content > .sidebar:last-child {
          margin-right: 0; } }

#footer .footer-info {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }

.copyright {
  font-size: small;
  text-align: center; }

*:hover {
  cursor: pointer; }

.btn {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border-width: 0;
  box-shadow: none;
  padding: 0.7em 1em;
  font-size: 1em;
  line-height: 1; }
  @media screen and (max-width: 480px) {
    .row.submit .btn {
      margin-bottom: 1em; } }
  .btn:hover, .btn:focus {
    color: #fff; }
  .btn.btn-inverse {
    background-color: #000;
    color: #fff;
    background-image: none;
    background-repeat: repeat-x;
    border-color: transparent;
    text-shadow: none; }
    .button-group .btn.btn-inverse {
      margin-right: 1em;
      color: #fff; }
  .btn.btn-small {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-width: 0;
    box-shadow: none;
    padding: 5px 10px;
    font-size: 0.85em;
    line-height: 1; }
  .panel .btn {
    color: #fff; }
  .btn[disabled] {
    opacity: 1; }

body > header * {
  color: #fff; }
body > main {
  background: #F2F2F2; }

.menu-item a:hover {
  text-decoration: none; }

ul[class*='menu'] {
  padding-left: 0;
  list-style: none; }

.nav-tabs > li > a {
  color: #333; }

.nav.nav-tabs.nav-justified {
  /*** Ende li***/ }
  .nav.nav-tabs.nav-justified li {
    position: relative;
    list-style: none;
    vertical-align: bottom;
    /*** Ende submenu***/ }
    .nav.nav-tabs.nav-justified li a:hover {
      background-color: #4385c8;
      color: #fff; }
    .nav.nav-tabs.nav-justified li > a {
      -webkit-border-radius: 0;
      border-radius: 0;
      border: 0; }
      @media screen and (min-width: 768px) and (max-width: 992px) {
        .nav.nav-tabs.nav-justified li > a {
          padding-left: 0;
          padding-right: 0; } }
    .nav.nav-tabs.nav-justified li.current_page_item a, .nav.nav-tabs.nav-justified li.current_page_item a:focus, .nav.nav-tabs.nav-justified li.current_page_item a:active {
      background: #2466a8;
      background-image: none !important;
      color: #fff; }
    .nav.nav-tabs.nav-justified li.menu-item-has-children > a:after {
      font-family: 'FontAwesome';
      content: "";
      padding-right: 0;
      opacity: 1;
      margin-left: 0.5em;
      font-size: 1.1em;
      color: currentColor; }
    .nav.nav-tabs.nav-justified li.menu-item-has-children.menu-item-has-children:hover > a:after {
      content: "\f0d7"; }
    .nav.nav-tabs.nav-justified li:hover > .sub-menu {
      display: block;
      position: absolute;
      top: auto;
      left: auto;
      z-index: 999;
      padding-bottom: 1em; }
    .nav.nav-tabs.nav-justified li .sub-menu {
      display: none;
      padding: 1em 0;
      background: #2466a8; }
      .nav.nav-tabs.nav-justified li .sub-menu a {
        display: block;
        padding: .2em 1em;
        white-space: nowrap;
        color: #fff !important; }
      .nav.nav-tabs.nav-justified li .sub-menu li:hover > .sub-menu {
        top: 0;
        left: 99%;
        padding: .5em 0; }

/*** Ende nav.nav-tabs***/
/*** Service Menu **/
.service-links {
  background: #2466a8;
  padding: 1em; }
  .service-links * {
    color: #fff; }
  .service-links .footer-menu {
    margin: 0;
    /** end li **/ }
    .service-links .footer-menu li {
      line-height: 2em;
      border-width: 1px 0 0 0;
      border-style: solid;
      border-color: currentColor; }
      .service-links .footer-menu li a {
        padding: .5em 0;
        white-space: normal; }
        .service-links .footer-menu li a:hover {
          color: inherit; }
      .service-links .footer-menu li > ul a:before {
        font-family: 'FontAwesome';
        content: "";
        padding-right: 1em;
        opacity: 1;
        margin-left: 0;
        font-size: 1em; }
      .service-links .footer-menu li > ul ul > li > a {
        padding-left: 1.4em; }
    .service-links .footer-menu > li:first-child {
      border: 0; }

/*** Ende Service Menu **/
/*** Footer Links ***/
.sitemap > ul {
  background: #575757;
  padding: 1em; }
  .sitemap > ul * {
    color: #fff; }
  .sitemap > ul > li {
    padding-left: 2em;
    margin-bottom: 1em; }
    .sitemap > ul > li > a {
      display: block;
      border-bottom: 1px solid currentColor;
      font-weight: bold; }
  .sitemap > ul > li:last-child > a {
    border: 0; }
  .sitemap > ul .sub-menu {
    margin: .5em 1em; }

/*** Ende Footer Links ***/
/*** Ende Footer Info ***/
.footer-info {
  /** Footer links */
  /*** Footer Logo ***/ }
  .footer-info > * {
    margin: 0;
    font-size: smaller; }
  .footer-info * {
    color: #575757 !important; }
  .footer-info [id*="menu-footer-links"] li {
    float: left;
    display: inline-block;
    margin-right: 1em; }
    .footer-info [id*="menu-footer-links"] li:last-child {
      margin: 0; }
  .footer-info .footer-logo {
    position: relative;
    height: 0;
    width: 30px;
    padding: 0;
    padding-bottom: 30px; }
    .footer-info .footer-logo svg {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0; }

/*** copyright ***/
.copyright {
  margin: 1em auto;
  font-size: smaller;
  text-align: right;
  color: #fff; }

/*** Affix ***/
.affix#mainNav {
  background: #2466a8;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; }
  .affix#mainNav * {
    color: white; }

.affix-logo {
  position: relative;
  height: 0;
  width: 30px;
  padding: 0;
  padding-bottom: 30px;
  float: left; }
  .affix-logo svg {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0; }
  .affix-logo .logo-only {
    fill: #fff; }
  .affix-top .affix-logo {
    display: none; }

.carousel > .item {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .carousel > .item::after {
    clear: both;
    content: "";
    display: table; }
  .carousel > .item > * {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .carousel > .item > *:last-child {
      margin-right: 0; }

.carousel-fade .carousel-inner .item {
  transition-property: opacity; }
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0; }
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0); }
.carousel-fade .carousel-control {
  z-index: 2; }

#bannerCarousel {
  height: 398px; }
  #bannerCarousel .carousel-inner {
    height: inherit;
    width: 100%;
    position: relative; }
    #bannerCarousel .carousel-inner .item {
      height: inherit;
      width: 100%;
      overflow: hidden; }
  #bannerCarousel .carousel-caption {
    background: transparent;
    position: absolute;
    top: 3.714em;
    left: 2em;
    width: inherit;
    text-align: left;
    text-shadow: none;
    z-index: 100; }
    #bannerCarousel .carousel-caption > hgroup {
      margin-right: 14.5299%; }
  #bannerCarousel .carousel-indicators,
  #bannerCarousel .slide .button-group {
    position: absolute;
    bottom: 15px; }
  #bannerCarousel .carousel-indicators {
    left: auto;
    right: 1em;
    text-align: right; }
    #bannerCarousel .carousel-indicators li, #bannerCarousel .carousel-indicators li.active {
      height: 30px;
      width: 30px;
      line-height: 30px;
      border: 0;
      text-indent: 0;
      color: #fff;
      text-align: center;
      background-color: #a6a6a6;
      background-color: rgba(0, 0, 0, 0.35);
      margin: 0; }
    #bannerCarousel .carousel-indicators li.active {
      background-color: #262626;
      background-color: rgba(0, 0, 0, 0.85); }
  #bannerCarousel .carousel-control {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: transparent;
    border: 0;
    font-size: 3em;
    font-weight: 100;
    height: 40px;
    line-height: 30px;
    margin-top: -20px;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: -15px;
    text-align: center;
    width: 40px;
    color: black;
    background-image: none;
    text-shadow: none; }
    #bannerCarousel .carousel-control.right {
      right: -15px;
      left: auto; }
    #bannerCarousel .carousel-control > span {
      visibility: hidden;
      height: 0;
      line-height: 0; }

#newsCarousel .carousel-inner {
  overflow: hidden; }
#newsCarousel .carousel-control {
  background: #2466a8;
  border: 0;
  font-size: 1.4em;
  font-weight: inherit;
  height: 30px;
  line-height: 20px;
  margin-top: 0;
  opacity: 1;
  position: absolute;
  top: -40px;
  left: auto;
  text-align: center;
  width: 30px;
  color: #fff;
  background-image: none;
  text-shadow: none;
  padding: 5px 0;
  bottom: auto;
  z-index: 999; }
  #newsCarousel .carousel-control.left {
    right: 33px; }
  #newsCarousel .carousel-control.right {
    right: 0; }
#newsCarousel .category-link {
  position: absolute;
  bottom: 0;
  right: 0; }
#newsCarousel .more-link {
  display: block;
  width: 100%;
  text-align: right;
  margin: 1em 0 0 0; }

.panels {
  margin: -1em; }

.panel {
  -webkit-flex-grow: 0;
  -moz-flex-grow: 0;
  flex-grow: 0;
  -ms-flex-positive: 0;
  background: #e5e5e4;
  border: 1px solid #D9D9D9;
  padding: 1em;
  position: relative;
  /*** Inner Flexbox ***/
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start; }
  .panel:after {
    content: '';
    background: #f2f2f2 url("../img/bg_panel.png") left bottom no-repeat;
    width: 63px;
    height: 60px;
    display: block;
    text-indent: -100px;
    overflow: hidden;
    top: -5px;
    right: -5px;
    position: absolute;
    text-decoration: none; }
  .panel:hover:after {
    display: none; }
  .panel .text {
    margin-bottom: 2em; }

.events {
  margin-top: 2em; }

table.tablepress {
  border-collapse: collapse; }
  table.tablepress thead th, table.tablepress tfoot th {
    background: transparent !important;
    font-weight: 500 !important; }
  table.tablepress th, table.tablepress td {
    vertical-align: middle; }
  table.tablepress th {
    font-size: 1.1em; }
  table.tablepress td {
    font-size: .9em;
    padding: .5em 1em;
    border: 1px solid #F2F2F2;
    text-align: center; }
    table.tablepress td.table-headline {
      font-size: larger;
      text-align: left;
      line-height: 2;
      padding-top: 2em; }
      table.tablepress td.table-headline, table.tablepress td.table-headline:hover {
        background: transparent !important;
        color: #333 !important; }
  table.tablepress tr:nth-child(odd) td {
    background: #7EA0C5;
    color: #fff; }
  table.tablepress tr:nth-child(even) td {
    background-color: #b2c9e1;
    background-color: rgba(36, 102, 168, 0.35);
    color: white; }
  table.tablepress tr td:last-child {
    min-width: 150px;
    text-align: left; }
  table.tablepress tr:hover td {
    background-color: #2466a8 !important;
    color: #fff !important;
    cursor: pointer !important; }
  table.tablepress .event-cat {
    border: 1px solid red;
    text-align: left; }
    table.tablepress .event-cat li {
      list-style: none outside;
      text-align: left; }
  table.tablepress .event-links [class*="span"] span {
    border: 1px solid red;
    cursor: pointer; }
    table.tablepress .event-links [class*="span"] span.active {
      font-weight: bold; }
      table.tablepress .event-links [class*="span"] span.active i {
        -webkit-transform: rotate(90);
        -moz-transform: rotate(90);
        -ms-transform: rotate(90);
        -o-transform: rotate(90);
        transform: rotate(90);
        padding-top: .5em; }
  table.tablepress article > div {
    height: 0;
    overflow: hidden;
    -webkit-transition: height, 0.2s, ease-out;
    -moz-transition: height, 0.2s, ease-out;
    transition: height, 0.2s, ease-out; }
    table.tablepress article > div.slide {
      height: 280px;
      -webkit-transition: height, 0.2s, ease-in;
      -moz-transition: height, 0.2s, ease-in;
      transition: height, 0.2s, ease-in; }

/*
@import 'modules/_widgets';
@import 'modules/_posts';

*/

/*# sourceMappingURL=screen.css.map */
