@charset "UTF-8";
@import url(reset.css);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*** BSP: @extend %reset;***/
.box .post-edit-link > span {
  text-indent: -9999px;
  display: block;
  overflow: hidden; }

/*** Mixins & Placeholders ***/
/**** caret ****/
/* Bsp. @include alpha-background-color(rgba(black, 0.35), white); */
/******* SVG *********/
/*** WP Specials ***/
/* Mediaqueries breakpoints */
/* Helper Classes */
/* =============================================================================
   Colors
   ========================================================================== */
/*** Info Graphic ***/
/* =============================================================================
   Height & Widths
   ========================================================================== */
/* Margins & Paddings */
/*** Carousel ***/
/**** caret ****/
/*** News bubble ***/
/*** Panels ***/
/*** Buttons ***/
.foo {
  border: 1px solid red; }

/**** Flexbox ***/
.colPrimary {
  fill: #2466a8; }

.colSecondary {
  fill: #4385c8; }

.colBase {
  fill: white; }

.colGrey {
  fill: #4d4d4d; }

.logo-subline {
  display: none; }

.post-edit-link {
  font-size: small;
  text-transform: none; }
  .post-edit-link:before {
    font-family: 'FontAwesome';
    content: "";
    padding-right: 0.5em;
    opacity: 1;
    margin-left: 0.5em;
    font-size: 0.5em; }
  .box .post-edit-link > span {
    dispplay: inline-block;
    width: 0px;
    height: 0px; }

/*
@import 'base/_ui';
@import 'base/_form';
@import 'base/_media';

*/
/*------------------------------------------------
Formulare
--------------------------------------------------*/
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: #999;
  font-style: italic; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }
  @media screen and (min-width: 768px) {
    fieldset .row {
      margin-bottom: 2em; } }

input[type="text"],
input[type="date"],
input[type="email"],
input[type="confirm_email"],
input[type="number"],
input[type="tel"],
textarea,
select {
  background-color: #fff;
  -webkit-border-radius: 0;
  border-radius: 0;
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 2% 5%; }
  @media screen and (max-width: 480px) {
    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="confirm_email"],
    input[type="number"],
    input[type="tel"],
    textarea,
    select {
      width: 100%; } }
  @media screen and (min-device-width: 769px) and (orientation: portrait) {
    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="confirm_email"],
    input[type="number"],
    input[type="tel"],
    textarea,
    select {
      width: 90%;
      /*_NO__DOTCOMMA__AFTER__ */ } }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 20px;
  background-image: url("../img/bg-select.png");
  background-position: 98% 50%;
  background-repeat: no-repeat; }

textarea {
  max-height: 120px;
  overflow: auto;
  resize: vertical; }

.wpcf7 {
  margin-bottom: 2em; }

.wpcf7-form-control-wrap {
  display: block; }
  .wpcf7-form-control-wrap > * {
    width: 100%; }

.wpcf7-not-valid,
.wpcf7-validation-errors,
.wpcf7-message-mail-sent-ng,
.wpcf7-message-spam,
.wpcf7-message-invalid-email,
.wpcf7-message-upload-failed-php-error {
  border: 2px solid #DB221C;
  background: #fcf8e3; }

.wpcf7-message-accept-terms,
.wpcf7-message-upload-failed,
.wpcf7-message-upload-file-type-invalid,
.wpcf7-message-upload-file-too-large {
  background: #DB221C;
  color: #fff; }

.wpcf7-mail-sent-ok {
  font-size: large;
  color: #21A356;
  font-style: italic;
  line-height: 2;
  padding: 2em;
  border: 0;
  background: transparent; }

/*.row.submit{
    margin-top: 2em;
}*/
.row.checkbox > [class*="-12"] {
  padding: 0; }

.checkbox input[type="checkbox"] {
  float: none;
  margin: 0; }

.checkbox span.wpcf7-form-control-wrap {
  margin-right: 2em; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2em; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
@media screen and (max-width: 736px) and (orientation: portrait) {
  .container#header .logo {
    margin: 1em 3em 1em 0; } }
@media screen and (max-width: 736px) and (orientation: landscape) {
  .container#header .logo {
    margin: 1em 50% 1em 0; } }

  @media screen and (min-width: 768px) {
    .container#header {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      box-orient: horizontal;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      flex-direction: row;
      -ms-flex-direction: row;
      -webkit-box-align: end;
      -moz-box-align: end;
      box-align: end;
      -webkit-align-items: flex-end;
      -moz-align-items: flex-end;
      -ms-align-items: flex-end;
      -o-align-items: flex-end;
      align-items: flex-end;
      -ms-flex-align: end; }
      .container#header > .logo {
        -webkit-flex-basis: 25%;
        -moz-flex-basis: 25%;
        flex-basis: 25%;
        -ms-flex-preferred-size: 25%; }
      .container#header > .contact-data {
        -webkit-flex-basis: 75%;
        -moz-flex-basis: 75%;
        flex-basis: 75%;
        -ms-flex-preferred-size: 75%; } }
  .container .site-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .container .site-content::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-device-width: 992px) and (orientation: landscape) {
      .container .site-content .main-content {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%; }
        .container .site-content .main-content:last-child {
          margin-right: 0; }
      .container .site-content .sidebar {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        .container .site-content .sidebar:last-child {
          margin-right: 0; } }
  .container .panels {
    clear: both;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;
    -ms-flex-align: stretch; }
    .container .panels > * {
      margin: 1em; }
    .container .panels.related > * {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      box-flex: 1;
      -webkit-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .container .panels.smallpanels {
      border: 1px solid green;
      /*            width:66%;*/ }
    .container .panels.subpanels {
      -webkit-box-lines: multiple;
      -moz-box-lines: multiple;
      box-lines: multiple;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-flex-grow: 1;
      -moz-flex-grow: 1;
      flex-grow: 1;
      -ms-flex-positive: 1; }
      @media screen and (max-width: 600px) {
        .container .panels.subpanels > * {
          -webkit-flex-basis: calc(100%);
          -moz-flex-basis: calc(100%);
          flex-basis: calc(100%);
          -ms-flex-preferred-size: calc(100%);
          margin-bottom: 2em; } }
      @media screen and (min-width: 600px) and (max-width: 991px) {
        .container .panels.subpanels > * {
          -webkit-flex-basis: calc(100%/2 - 2em);
          -moz-flex-basis: calc(100%/2 - 2em);
          flex-basis: calc(100%/2 - 2em);
          -ms-flex-preferred-size: calc(100%/2 - 2em); } }
      @media screen and (min-width: 992px) {
        .container .panels.subpanels > * {
          -webkit-flex-basis: calc(100%/3 - 2em);
          -moz-flex-basis: calc(100%/3 - 2em);
          flex-basis: calc(100%/3 - 2em);
          -ms-flex-preferred-size: calc(100%/3 - 2em); }
          .container .panels.subpanels > *:last-child {
            -webkit-flex-grow: 0;
            -moz-flex-grow: 0;
            flex-grow: 0;
            -ms-flex-positive: 0;
            -webkit-flex-shrink: 0;
            -moz-flex-shrink: 0;
            flex-shrink: 0;
            -ms-flex-negative: 0; } }
    @media screen and (min-width: 600px) {
      .container .panels .box {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-pack: justify; }
        .container .panels .box > .text {
          -webkit-box-flex: 2;
          -moz-box-flex: 2;
          box-flex: 2;
          -webkit-flex: 2;
          -moz-flex: 2;
          -ms-flex: 2;
          flex: 2; } }
  .container .full-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .container .full-content::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-width: 768px) {
      .container .full-content > .box, .container .full-content > .related {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        .container .full-content > .box:last-child, .container .full-content > .related:last-child {
          margin-right: 0; } }

.footer-info {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch; }
  @media screen and (max-width: 768px) {
    .footer-info {
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column; } }
  @media screen and (min-width: 992px) {
    .footer-info {
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      box-orient: horizontal;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      flex-direction: row;
      -ms-flex-direction: row; } }
  .footer-info address {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    box-flex: 2;
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
    text-align: center; }

@media screen and (max-width: 600px) {
  [id*="banner"] {
    display: none; } }

[id*="banner"] {
  padding: 2em 0; }

.site-content > *,
.sidebar > *,
#footer > * {
  margin: 2em 0; }
  .site-content > *:first-child,
  .sidebar > *:first-child,
  #footer > *:first-child {
    margin-top: 0; }

dt {
  font-weight: 600; }

/** depends on font-fammily**/
/* =============================================================================
  Variables & Mixins
  ========================================================================== */
h3 {
  font-size: 1.429em;
  line-height: 1.2;
  margin-top: 1em;
  margin-bottom: 0.5em; }
  @media screen and (max-device-width: 480px) and (orientation: portrait) {
    h3 {
      font-size: 1.2em; } }

.sidebar h3, aside h3 {
  font-size: 1.286em;
  font-weight: 600;
  margin-top: 0;
  text-transform: none; }

.sidebar h3 a, aside h3 a, .sidebar .box h3, aside .box h3, .sidebar .box h3 a, aside .box h3 a {
  color: #000;
  margin-right: 0; }

.panel h1, .panel h2 {
  font-size: 1.2em !important;
  margin-top: 0;
  min-height: 50px; }

/* =============================================================================
   Basics
   ========================================================================== */
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: auto;
  -ms-text-size-adjust: auto; }

html, body, button, input, select, textarea {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  color: #333; }

::-moz-selection {
  text-shadow: none;
  background: #2466a8;
  background-image: none !important;
  color: #fff; }

::selection {
  text-shadow: none;
  background: #2466a8;
  background-image: none !important;
  color: #fff; }

.element::-moz-selection {
  background-color: #ffbb52; }
.element::selection {
  background-color: #ffbb52; }

body {
  text-rendering: optimizeLegibility;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%; }

a, a:link {
  text-decoration: none;
  cursor: pointer; }
.site-content a {
  color: #2466a8; }
  .site-content a:hover {
    color: #4385c8;
    text-decoration: underline; }
[class*="footer"] a {
  color: #fff; }
a:visited, a.help:hover {
  text-decoration: none; }
a.help i:hover {
  cursor: pointer; }
a:hover, a:focus {
  outline: none; }
.btn > a {
  color: inherit;
  display: block;
  cursor: pointer; }

h1, h2, article h1, h3, h4, legend, .number, .widgettitle {
  font-family: "Titillium Web", Arial, Helvetica, sans-serif !important;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1.1;
  color: #2466a8; }
  h1 a, h2 a, article h1 a, h3 a, h4 a, legend a, .number a, .widgettitle a {
    text-decoration: none;
    color: #2466a8; }

@media screen and (max-width: 600px) {
  .page-title {
    margin-top: 0;
    word-wrap: initial; }
    .page-header .page-title {
      display: none; } }
body.search .page-title {
  display: block; }
body[class*="-standorte"] .page-title,
.page-title body[class*="-main"] {
  display: none; }

h1 {
  font-size: 21px;
  line-height: 1;
  color: #000; }
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 2em; } }
  article h1 {
    color: #2466a8; }

h2, article h1 {
  font-size: 30.002px;
  line-height: 1; }
  h2 .category-link, article h1 .category-link {
    margin-bottom: .2em; }
  @media screen and (max-width: 480px) {
    h2, article h1 {
      font-size: 1.5em; } }
  @media screen and (min-width: 992px) {
    h2.page-title, article h1.page-title {
      display: none; } }

.single-event h3 {
  font-size: 1em;
  font-weight: 600;
  color: red; }
.box h3 {
  margin-right: 2em; }
.box h3 > a.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  word-wrap: break-word;
  display: block; }

h1 a:hover, h2 a:hover, article h1 a:hover, h3 a:hover {
  text-decoration: none;
  cursor: pointer; }
h1.collapseHeadline > a:before, h2.collapseHeadline > a:before, article h1.collapseHeadline > a:before, h3.collapseHeadline > a:before {
  padding-right: .5em; }
h1.collapseHeadline > a:hover, h2.collapseHeadline > a:hover, article h1.collapseHeadline > a:hover, h3.collapseHeadline > a:hover {
  cursor: default; }

h4, .h4, h5, .h5, h6, .h6 {
  font-size: 1.2em; }

legend border {
  width: 1px 0 0 0;
  style: solid;
  color: #ccc;
  margin-top: 1em; }
legend#anfrage:before, legend#inquiry:before {
  content: ' ';
  display: block;
  height: 65px;
  margin: -65px 0 0; }

p {
  margin: 0 0 1rem;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  line-height: 150%; }
  p.lead, blockquote p, p.contact-data {
    font-size: 1.125rem;
    line-height: 1.33; }

a {
  color: #333; }
  .logo a {
    display: block; }
    body.home .logo a {
      color: #fff; }
  .footer a {
    text-decoration: none; }

ul,
ol {
  padding-left: 1.5rem; }
  ul li,
  ol li {
    line-height: 150%; }
  ul.unstyled,
  ol.unstyled {
    padding: 0;
    list-style: none; }
  ul.inline,
  ol.inline {
    margin: 0 1rem 1rem -1rem;
    padding: 0;
    list-style: none;
    overflow: hidden; }
    ul.inline > li,
    ol.inline > li {
      display: block;
      float: left;
      margin-left: 1rem;
      list-style: none; }

.widget ul li {
  list-style-position: outside;
  padding-left: 1em;
  list-style-image: url(../img/bg-select.png); }

dl {
  margin: 0 0 1rem;
  line-height: 150%; }

dt {
  font-weight: bold;
  /** oder **/ }

dd {
  margin: 0 0 0.5rem; }

b, .bold, strong {
  font-weight: bold; }

p, .close {
  font-size: 1em; }

blockquote {
  border-left: 2px solid #2466a8;
  position: relative;
  margin: 1.5rem 1rem 1.5rem 3rem;
  text-align: left; }
  blockquote:before {
    content: "“";
    display: block;
    position: absolute;
    top: -1rem;
    left: -3rem;
    color: #737373;
    font-size: 5rem;
    line-height: 1; }

address {
  font-style: normal; }
  .footer address p {
    margin-bottom: 0.2rem;
    font-size: .8rem; }
  .footer address > div {
    margin-bottom: 0.5rem; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-muted {
  color: #737373; }

.text-smaller {
  font-size: smaller; }

.uppercase {
  text-transform: uppercase; }

/*** tables ****/
table {
  width: 100%;
  margin-bottom: 2em; }

/**** Misc ***/
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

/* Kleinerer Text */
.s {
  font-size: 0.9em; }

@media screen and (min-width: 480px) {
  .lead, blockquote p, .contact-data {
    font-size: 1.143em;
    font-weight: inherit;
    line-height: inherit;
    margin-bottom: 1.857em; }
    article.banner .lead, article.banner blockquote p, blockquote article.banner p, article.banner .contact-data, .banner-caption .lead, .banner-caption blockquote p, blockquote .banner-caption p, .banner-caption .contact-data {
      margin-bottom: 1em; }
    .panel .lead, .panel blockquote p, blockquote .panel p, .panel .contact-data {
      font-size: 1em; } }

/***** Accordion Headlines****/
.collapseHeadline, h2.tablepress-table-name, article h1.tablepress-table-name, legend {
  font-size: 2em;
  margin: 1em 0 .5em 0; }
  @media screen and (max-width: 480px) {
    .collapseHeadline, h2.tablepress-table-name, article h1.tablepress-table-name, legend {
      font-size: 1.4em; } }
  .collapseHeadline > a span, h2.tablepress-table-name > a span, article h1.tablepress-table-name > a span, legend > a span {
    display: inline-block;
    float: left; }
    @media screen and (max-width: 480px) {
      .collapseHeadline > a span, h2.tablepress-table-name > a span, article h1.tablepress-table-name > a span, legend > a span {
        width: 80%; } }
    @media screen and (min-width: 481px) {
      .collapseHeadline > a span, h2.tablepress-table-name > a span, article h1.tablepress-table-name > a span, legend > a span {
        width: 90%; } }
  .collapseHeadline > a.no-icon ~ i, h2.tablepress-table-name > a.no-icon ~ i, article h1.tablepress-table-name > a.no-icon ~ i, legend > a.no-icon ~ i {
    display: none; }
  .collapseHeadline > a i.fa, h2.tablepress-table-name > a i.fa, article h1.tablepress-table-name > a i.fa, legend > a i.fa {
    float: left;
    margin-right: 16px; }
  .collapseHeadline > a:hover, .collapseHeadline > a:active, h2.tablepress-table-name > a:hover, article h1.tablepress-table-name > a:hover, h2.tablepress-table-name > a:active, article h1.tablepress-table-name > a:active, legend > a:hover, legend > a:active {
    text-decoration: none;
    outline: none; }
  @media screen and (max-width: 768px) {
    .collapseHeadline + div, h2.tablepress-table-name + div, article h1.tablepress-table-name + div, legend + div {
      padding-left: 0px; } }
  @media screen and (min-width: 769px) {
    .collapseHeadline + div, h2.tablepress-table-name + div, article h1.tablepress-table-name + div, legend + div {
      padding-left: 40px; } }
  .accordion .collapseHeadline + div, .accordion h2.tablepress-table-name + div, .accordion article h1.tablepress-table-name + div, article .accordion h1.tablepress-table-name + div, .accordion legend + div {
    padding-left: 0; }
  .collapseHeadline:first-child, h2.tablepress-table-name:first-child, article h1.tablepress-table-name:first-child, legend:first-child {
    margin-top: 0; }

/*------------------------------------------------
Sonderfälle
--------------------------------------------------*/
.carousel-caption > *,
legend, h2.category-link, article h1.category-link, h2.category-link a .panel h3, article h1.category-link a .panel h3, .number {
  color: #2466a8; }

.copyright {
  font-size: small;
  text-align: center; }

@media screen and (min-width: 992px) {
  .breadcrumbs {
    text-align: right; } }

*:hover {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }
  .logo img {
    max-width: none;
    width: 100%;
    height: auto; }

.btn {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border-width: 0;
  box-shadow: none;
  padding: 0.7em 1em;
  font-size: 1em;
  line-height: 1; }
  @media screen and (max-width: 480px) {
    .row.submit .btn {
      margin-bottom: 1em; } }
  .btn:hover, .btn:focus {
    color: #fff; }
  .btn.btn-inverse {
    background-color: #000;
    color: #fff;
    background-image: none;
    background-repeat: repeat-x;
    border-color: transparent;
    text-shadow: none; }
    .button-group .btn.btn-inverse {
      margin-right: 1em;
      color: #fff; }
  .btn.btn-small {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-width: 0;
    box-shadow: none;
    padding: 5px 10px;
    font-size: 0.85em;
    line-height: 1; }
  .box .btn {
    color: #fff; }
  .btn[disabled] {
    opacity: 1; }

.iframe-elastic {
  position: relative;
  padding-bottom: 55%;
  padding-top: 15px;
  height: 0;
  overflow: hidden; }
  .iframe-elastic iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .page-template-page-standorte-php .iframe-elastic iframe {
      pointer-events: none; }
  @media screen and (max-width: 480px) {
    .page-template-page-standorte-php .iframe-elastic {
      padding-bottom: 55% !important;
      margin-bottom: 2em; } }
  @media screen and (min-width: 768px) {
    .page-template-page-standorte-php .iframe-elastic {
      padding-bottom: 35% !important;
      margin-bottom: 2em; } }

.bubble {
  border: #ccc 1px solid;
  padding: 14px 12px;
  position: relative; }
  .bubble:before, .bubble:after {
    content: "";
    display: block;
    position: absolute;
    border-style: solid outset;
    width: 0; }
  .bubble:before {
    border-width: 33px 0 0 33px;
    bottom: -33px;
    left: 40px;
    border-color: #ccc transparent; }
  .bubble:after {
    border-width: 33px 0 0 33px;
    bottom: -30px;
    left: 39px;
    border-color: #F2F2F2 transparent; }

.table-responsive {
  border: 0; }
  @media screen and (max-width: 480px) {
    .table-responsive {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc; } }

/*------------------------------------------------
Formulare
--------------------------------------------------*/
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: #999;
  font-style: italic; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }
  @media screen and (min-width: 768px) {
    fieldset .row {
      margin-bottom: 2em; } }

input[type="text"],
input[type="date"],
input[type="email"],
input[type="confirm_email"],
input[type="number"],
input[type="tel"],
textarea,
select {
  background-color: #fff;
  -webkit-border-radius: 0;
  border-radius: 0;
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 2% 5%; }
  @media screen and (max-width: 480px) {
    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="confirm_email"],
    input[type="number"],
    input[type="tel"],
    textarea,
    select {
      width: 100%; } }
  @media screen and (min-device-width: 769px) and (orientation: portrait) {
    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="confirm_email"],
    input[type="number"],
    input[type="tel"],
    textarea,
    select {
      width: 90%;
      /*_NO__DOTCOMMA__AFTER__ */ } }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 20px;
  background-image: url("../img/bg-select.png");
  background-position: 98% 50%;
  background-repeat: no-repeat; }

textarea {
  max-height: 120px;
  overflow: auto;
  resize: vertical; }

.wpcf7 {
  margin-bottom: 2em; }

.wpcf7-form-control-wrap {
  display: block; }
  .wpcf7-form-control-wrap > * {
    width: 100%; }

.wpcf7-not-valid,
.wpcf7-validation-errors,
.wpcf7-message-mail-sent-ng,
.wpcf7-message-spam,
.wpcf7-message-invalid-email,
.wpcf7-message-upload-failed-php-error {
  border: 2px solid #DB221C;
  background: #fcf8e3; }

.wpcf7-message-accept-terms,
.wpcf7-message-upload-failed,
.wpcf7-message-upload-file-type-invalid,
.wpcf7-message-upload-file-too-large {
  background: #DB221C;
  color: #fff; }

.wpcf7-mail-sent-ok {
  font-size: large;
  color: #21A356;
  font-style: italic;
  line-height: 2;
  padding: 2em;
  border: 0;
  background: transparent; }

/*.row.submit{
    margin-top: 2em;
}*/
.row.checkbox > [class*="-12"] {
  padding: 0; }

.checkbox input[type="checkbox"] {
  float: none;
  margin: 0; }

.checkbox span.wpcf7-form-control-wrap {
  margin-right: 2em; }

.acf-map {
  width: 100%;
  height: 400px;
  border: #ccc solid 1px;
  margin: 20px 0; }

/* fixes potential theme css conflict */
.acf-map img {
  max-width: inherit !important; }

#wrapper > header * {
  color: #fff; }
#wrapper > header .contact-data {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end; }
  @media screen and (max-width: 600px) {
    #wrapper > header .contact-data {
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column; } }
  @media screen and (min-width: 601px) {
    #wrapper > header .contact-data {
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      box-orient: horizontal;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      flex-direction: row;
      -ms-flex-direction: row; } }
  #wrapper > header .contact-data > a {
    padding: 0 .5em;
    border-left: 1px solid currentColor; }
    #wrapper > header .contact-data > a .fa {
      float: left;
      margin: 0 .5em 0 0; }
    #wrapper > header .contact-data > a .fa-external-link {
      display: none; }
    #wrapper > header .contact-data > a:hover {
      color: inherit;
      opacity: .5; }
    #wrapper > header .contact-data > a:first-child {
      border: 0; }
      @media screen and (min-width: 600px) {
        #wrapper > header .contact-data > a:first-child .fa {
          margin: 0; } }
    @media screen and (max-width: 600px) {
      #wrapper > header .contact-data > a {
        width: 100%;
        display: block;
        font-size: 5vW;
        border: 0; }
        #wrapper > header .contact-data > a i {
          display: inline-block;
          width: 44px; } }
    @media screen and (max-device-width: 600px) and (orientation: landscape) {
      #wrapper > header .contact-data > a {
        font-size: 3vW; } }
    @media screen and (min-width: 992px) {
      #wrapper > header .contact-data > a.facebook span {
        display: none; } }
#wrapper > main {
  background: #F2F2F2; }

.admin-bar #mainNav,
.admin-bar #languages-menu {
  top: 32px; }

.menu-item {
  position: relative;
  list-style: none;
  /* icons */
  /* ende icons */ }
  #mainNav .menu-item.menu-item-has-children > a:after, #offMenu .menu-item.menu-item-has-children > a:after {
    font-family: 'FontAwesome';
    content: "";
    padding-right: 0;
    opacity: 1;
    margin-left: 0.5em;
    font-size: 1.1em;
    color: currentColor; }
  #mainNav .menu-item.menu-item-has-children.menu-item-has-children:hover > a:after, #offMenu .menu-item.menu-item-has-children.menu-item-has-children:hover > a:after {
    content: "\f0d7"; }
  .menu-item a, .menu-item a:hover {
    text-decoration: none; }
  @media screen and (max-width: 800px) {
    .menu-item a {
      padding: 1em;
      display: block;
      border-bottom: 1px solid currentColor; } }
  @media screen and (min-width: 801px) and (max-width: 992px) {
    .menu-item a {
      padding-left: 0;
      padding-right: 0; } }
  .menu-item .sub-menu {
    background: #2466a8; }
    #sitemap .menu-item .sub-menu {
      background: transparent; }
    .menu-item .sub-menu a {
      display: block;
      color: #fff; }
      .menu-item .sub-menu a:hover {
        background-color: #4385c8;
        color: #fff; }
        #sitemap .menu-item .sub-menu a:hover {
          background: transparent; }

ul[class*='menu'] {
  padding-left: 0;
  list-style: none; }
  #offMenu > ul[class*='menu'] {
    margin-top: 10vH; }

#mainNav .menu-item > .sub-menu, #offMenu .menu-item > .sub-menu {
  display: none; }

#mainNav {
  border-bottom: 1px solid #4d4d4d;
  /*** Affix ***/
  /*** Ende Affix ***/ }
  #mainNav .menu-item {
    position: relative; }
    #mainNav .menu-item:hover > .sub-menu {
      z-index: 9; }
  @media screen and (max-width: 800px) {
    #mainNav ul.nav {
      display: none; } }
  @media screen and (min-width: 801px) {
    #mainNav ul.nav {
      display: block; } }
  #mainNav ul.nav > .menu-item:hover > a {
    color: inherit; }
  #mainNav ul.nav > .menu-item:hover > .sub-menu {
    display: block; }
  #mainNav ul.nav > .menu-item > .sub-menu {
    min-width: 160px;
    position: absolute;
    top: 2.8em;
    left: 0; }
    #mainNav ul.nav > .menu-item > .sub-menu li:hover > .sub-menu {
      display: block;
      top: 0;
      left: 100%;
      padding: .5em 0;
      position: absolute; }
      #mainNav ul.nav > .menu-item > .sub-menu li:hover > .sub-menu a {
        color: #fff !important; }
    #mainNav ul.nav > .menu-item > .sub-menu li.current_page_item {
      background: #4385c8; }
    #mainNav ul.nav > .menu-item > .sub-menu a {
      padding: .2em 1em;
      white-space: nowrap; }
  @media screen and (min-width: 801px) {
    #mainNav.affix {
      background: #2466a8;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999; } }
  @media screen and (min-width: 801px) and (max-width: 1200px) {
    #mainNav.affix ul.nav {
      max-width: 880px;
      margin-left: auto;
      margin-right: auto;
      margin-left: 0;
      margin-right: 0; }
      #mainNav.affix ul.nav::after {
        clear: both;
        content: "";
        display: table; } }
  #mainNav.affix * {
    color: white; }
  @media screen and (min-width: 801px) {
    #mainNav.affix .affix-logo {
      height: 30px;
      width: 30px;
      display: block;
      float: left;
      margin: 0.5em;
      background: transparent url("../img/logo-only.png") no-repeat center center/cover; } }
  @media screen and (min-width: 992px) {
    #mainNav.affix-top {
      margin-right: -2em;
      margin-left: -2em; } }

/*** Responsive Main Nav ****/
.toggle-nav {
  height: 44px;
  width: 44px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer; }
  @media screen and (max-width: 800px) {
    .toggle-nav {
      margin: 0;
      display: block;
      position: fixed;
      top: 1em;
      right: 1em;
      z-index: 99999; } }
  @media screen and (min-width: 801px) {
    .toggle-nav {
      margin: 0 -2em; } }
  @media screen and (min-width: 801px) {
    .toggle-nav {
      display: none; } }
  @media screen and (min-width: 768px) and (orientation: portrait) {
    .toggle-nav {
      right: 2em; } }
  .toggle-nav span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #2466a8;
    opacity: 1;
    left: 0;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    overflow: hidden;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
    .toggle-nav span:nth-child(1) {
      top: 0px; }
    .toggle-nav span:nth-child(2), .toggle-nav span:nth-child(3) {
      top: 12px; }
    .toggle-nav span:nth-child(4) {
      top: 24px; }
  .toggle-nav.open span {
    background: #2466a8; }
  .toggle-nav.open span:nth-child(1), .toggle-nav.open span:nth-child(4) {
    top: 12px;
    width: 0%;
    left: 50%; }
  .toggle-nav.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .toggle-nav.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }

#offMenu {
  background: #2466a8;
  position: fixed;
  top: 0;
  left: -100%;
  right: 100%;
  z-index: 99999;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  bottom: 0;
  overflow: scroll; }
  @media screen and (max-width: 800px) {
    #offMenu {
      display: block; } }
  @media screen and (min-width: 801px) {
    #offMenu {
      display: none; } }
  #offMenu * {
    color: white !important; }
  #offMenu.open {
    left: 0; }
    @media screen and (max-width: 736px) {
      #offMenu.open {
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        right: 5em; } }
    @media screen and (min-width: 736px) and (max-width: 800px) {
      #offMenu.open {
        right: 50%; } }
  #offMenu .menu > li > a {
    text-transform: uppercase; }
    #offMenu .menu > li > a + .sub-menu > a {
      text-transform: normal; }
  #offMenu .current_page_item > .sub-menu,
  #offMenu .current-page-parent > .sub-menu,
  #offMenu .current-page-parent > .sub-menu > .current_page_item > .sub-menu {
    display: block; }
  #offMenu .sub-menu > li > a {
    padding-left: 1em;
    text-transform: none !important; }
  #offMenu .sub-menu > li > .sub-menu > li > a {
    padding-left: 2em; }

/*** Service Menu **/
.service-links {
  background: #2466a8;
  padding: 1em; }
  .service-links * {
    color: #fff; }
  .service-links .footer-menu {
    margin: 0; }
    .service-links .footer-menu li {
      line-height: 2em;
      border-width: 1px 0 0 0;
      border-style: solid;
      border-color: currentColor; }
      .service-links .footer-menu li a {
        padding: .5em 0;
        white-space: normal; }
        .service-links .footer-menu li a:hover {
          color: inherit;
          background: transparent; }
      .service-links .footer-menu li > ul a:before {
        font-family: 'FontAwesome';
        content: "";
        padding-right: 1em;
        opacity: 1;
        margin-left: 0;
        font-size: 1em; }
      .service-links .footer-menu li > ul ul > li > a {
        padding-left: 1.4em; }
    .service-links .footer-menu > li:first-child {
      border: 0; }

/*** Ende Service Menu **/
/*** Footer Links ***/
@media screen and (min-width: 768px) {
  #sitemap {
    margin-left: -40px; } }
#sitemap > ul {
  background: #575757;
  padding: 1em; }
  #sitemap > ul * {
    color: #fff; }
  #sitemap > ul > li {
    padding-left: 2em;
    margin-bottom: 1em; }
    #sitemap > ul > li > a {
      display: block;
      border-bottom: 1px solid currentColor;
      font-weight: bold; }
  #sitemap > ul > li:last-child > a {
    border: 0; }
  #sitemap > ul .sub-menu {
    margin: .5em 1em; }

/*** Ende Footer Links ***/
/*** Ende Footer Info ***/
.footer-info {
  /** Footer links */ }
  .footer-info > * {
    margin: 0;
    font-size: smaller; }
  .footer-info * {
    color: #575757 !important; }
  .footer-info [id*="menu-footer-links"] li {
    float: left;
    display: inline-block;
    margin-right: 1em; }
    .footer-info [id*="menu-footer-links"] li:last-child {
      margin: 0; }

/*** Footer Logo ***/
.footer-logo {
  position: relative;
  height: 0;
  width: 30px;
  padding: 0;
  padding-bottom: 30px; }
  .footer-logo svg {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 0;
    top: 0; }

/*** copyright ***/
.copyright {
  margin: 1em auto 0 auto;
  font-size: smaller;
  text-align: center;
  color: #fff; }

/*** ende copyright ***/
/*** Breadcrumb ****/
.breadcrumbs {
  margin: 0.5em 0 2em 0;
  border-bottom: 1px solid #ccc; }
  .breadcrumbs h2.trail-browse, .breadcrumbs article h1.trail-browse, article .breadcrumbs h1.trail-browse {
    display: none; }

/*** ende Breadcrumb ****/
/**** Languages ****/
#languages-menu {
  margin: 0;
  z-index: 99999;
  float: none;
  position: fixed;
  background-color: #2466a8; }
  #languages-menu * {
    color: #fff; }
  @media screen and (max-width: 767px) {
    #languages-menu {
      left: 0;
      top: 0; } }
  @media screen and (min-width: 768px) and (orientation: portrait) {
    #languages-menu {
      right: 2em;
      position: absolute; } }
  @media screen and (min-width: 768px) and (orientation: landscape) {
    #languages-menu {
      right: 0;
      top: 0; } }
  #languages-menu ul {
    margin: 0;
    padding: .5em 0; }
  #languages-menu .lang-item {
    list-style: none;
    display: inline-block;
    border-right: 1px solid currentColor; }
    #languages-menu .lang-item:last-child {
      border: 0; }
    #languages-menu .lang-item a {
      letter-spacing: .05em;
      padding: 0 1em;
      margin: 0; }
    #languages-menu .lang-item span {
      width: 0;
      overflow: hidden;
      text-indent: -999999px;
      display: inline-block; }
    #languages-menu .lang-item span:after {
      text-transform: uppercase; }
  #languages-menu .lang-item-de a:after {
    content: 'DE'; }
  #languages-menu .lang-item-en a:after {
    content: 'EN'; }
  #languages-menu .lang-item-zh a:after {
    content: '文'; }

/*** override Bootstrap ***/
.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent; }

.nav-tabs > li > a {
  color: #333; }

.nav-tabs.nav-justified > li > a {
  -webkit-border-radius: 0;
  border-radius: 0;
  overflow: hidden;
  border: 0; }

/*** end override Bootstrap ***/
.carousel-fade .carousel-inner .item {
  transition-property: opacity; }
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0; }
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0); }
.carousel-fade .carousel-control {
  z-index: 2; }

#bannerCarousel {
  height: 398px; }
  #bannerCarousel .carousel-inner {
    height: inherit;
    width: 100%;
    position: relative; }
    #bannerCarousel .carousel-inner .item {
      height: inherit;
      width: 100%;
      overflow: hidden;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto; }
      #bannerCarousel .carousel-inner .item::after {
        clear: both;
        content: "";
        display: table; }
      #bannerCarousel .carousel-inner .item > * {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        #bannerCarousel .carousel-inner .item > *:last-child {
          margin-right: 0; }
  #bannerCarousel .carousel-caption {
    background: transparent;
    position: absolute;
    top: 3.714em;
    left: 2em;
    width: inherit;
    text-align: left;
    text-shadow: none;
    z-index: 100; }
    #bannerCarousel .carousel-caption > hgroup {
      margin-right: 14.5299%; }
  #bannerCarousel .carousel-indicators,
  #bannerCarousel .slide .button-group {
    position: absolute;
    bottom: 15px; }
  #bannerCarousel .carousel-indicators {
    left: auto;
    right: 1em;
    text-align: right; }
    #bannerCarousel .carousel-indicators li, #bannerCarousel .carousel-indicators li.active {
      height: 30px;
      width: 30px;
      line-height: 30px;
      border: 0;
      text-indent: 0;
      color: #fff;
      text-align: center;
      background-color: #a6a6a6;
      background-color: rgba(0, 0, 0, 0.35);
      margin: 0; }
    #bannerCarousel .carousel-indicators li.active {
      background-color: #262626;
      background-color: rgba(0, 0, 0, 0.85); }
  #bannerCarousel .carousel-control {
    -webkit-border-radius: 0;
    border-radius: 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    font-size: 3em;
    font-weight: 100;
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: -15px;
    text-align: center;
    width: 40px;
    color: black;
    background-image: none;
    text-shadow: none; }
    #bannerCarousel .carousel-control.right {
      right: -15px;
      left: auto; }
    #bannerCarousel .carousel-control > span {
      visibility: hidden;
      height: 0;
      line-height: 0; }

#newsCarousel .carousel-control {
  background: #2466a8;
  border: 0;
  font-size: 1.4em;
  font-weight: inherit;
  height: 30px;
  line-height: 30px;
  margin-top: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  left: auto;
  text-align: center;
  width: 30px;
  color: #fff;
  background-image: none;
  text-shadow: none;
  bottom: auto;
  z-index: 999; }
  #newsCarousel .carousel-control.left {
    right: 33px; }
  #newsCarousel .carousel-control.right {
    right: 0; }
#newsCarousel .item {
  margin-top: 40px;
  min-height: 260px; }
#newsCarousel .news-title {
  margin-top: 0;
  margin-right: 75px; }

.news.category-link {
  margin-top: 0;
  position: absolute; }

#banner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  #banner::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 768px) {
    html:not(.flexbox) #banner > .banner-image, html:not(.flexbox) #banner > .banner-half {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      html:not(.flexbox) #banner > .banner-image:last-child, html:not(.flexbox) #banner > .banner-half:last-child {
        margin-right: 0; } }
  html.flexbox #banner {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -moz-box-align: end;
    box-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
    -ms-flex-align: end; }
    html.flexbox #banner > .banner-image, html.flexbox #banner > .banner-half {
      -webkit-flex-basis: 50%;
      -moz-flex-basis: 50%;
      flex-basis: 50%;
      -ms-flex-preferred-size: 50%; }
  #banner .banner-image {
    text-align: right; }

.panels {
  margin: -1em; }

.box[class*="post"] {
  background: #e5e5e4;
  border: 1px solid #D9D9D9;
  padding: 1em;
  position: relative;
  /*** Inner Flexbox ***/
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start; }
  .panels .box[class*="post"]:after {
    content: '';
    background: #f2f2f2 url("../img/bg_panel.png") left bottom no-repeat;
    width: 63px;
    height: 60px;
    display: block;
    text-indent: -100px;
    overflow: hidden;
    top: -5px;
    right: -5px;
    position: absolute;
    text-decoration: none; }
  .panels .box[class*="post"]:hover:after {
    display: none; }
  .box[class*="post"] .text {
    margin-bottom: 2em; }

.accordion > section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .accordion > section::after {
    clear: both;
    content: "";
    display: table; }
  .accordion > section .main {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .accordion > section .main:last-child {
      margin-right: 0; }
  .accordion > section .side {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .accordion > section .side:last-child {
      margin-right: 0; }

.events {
  margin-top: 2em; }

table.tablepress {
  border-collapse: collapse; }
  table.tablepress thead th, table.tablepress tfoot th {
    background: transparent !important;
    font-weight: 500 !important; }
  table.tablepress th, table.tablepress td {
    vertical-align: middle; }
  table.tablepress th {
    font-size: 1.1em; }
  table.tablepress td {
    font-size: .9em;
    padding: .5em 1em;
    border: 1px solid #F2F2F2;
    text-align: center; }
    table.tablepress td.table-headline {
      font-size: larger;
      text-align: left;
      line-height: 2;
      padding-top: 2em; }
      table.tablepress td.table-headline, table.tablepress td.table-headline:hover {
        background: transparent !important;
        color: #333 !important; }
  table.tablepress tr:nth-child(odd) td {
    background: #7EA0C5;
    color: #fff; }
  table.tablepress tr:nth-child(even) td {
    background-color: #b2c9e1;
    background-color: rgba(36, 102, 168, 0.35);
    color: white; }
  table.tablepress tr td:last-child {
    min-width: 150px;
    text-align: left; }
  table.tablepress tr:hover td {
    background-color: #2466a8 !important;
    color: #fff !important;
    cursor: pointer !important; }
  table.tablepress .event-cat {
    border: 1px solid red;
    text-align: left; }
    table.tablepress .event-cat li {
      list-style: none outside;
      text-align: left; }
  table.tablepress .event-links [class*="span"] span {
    border: 1px solid red;
    cursor: pointer; }
    table.tablepress .event-links [class*="span"] span.active {
      font-weight: bold; }
      table.tablepress .event-links [class*="span"] span.active i {
        -webkit-transform: rotate(90);
        -moz-transform: rotate(90);
        -ms-transform: rotate(90);
        -o-transform: rotate(90);
        transform: rotate(90);
        padding-top: .5em; }
  table.tablepress article > div {
    height: 0;
    overflow: hidden;
    -webkit-transition: height, 0.2s, ease-out;
    -moz-transition: height, 0.2s, ease-out;
    transition: height, 0.2s, ease-out; }
    table.tablepress article > div.slide {
      height: 280px;
      -webkit-transition: height, 0.2s, ease-in;
      -moz-transition: height, 0.2s, ease-in;
      transition: height, 0.2s, ease-in; }

/*
@import 'modules/_widgets';
@import 'modules/_posts';

*/

/*# sourceMappingURL=screen.css.map */
