.nav-click {
  position:absolute;
  top:0;
  right:0;
  display:none;
  border-left:1px solid #8B2870;
  height:49px;
  width:50px;
  cursor:pointer;
}
.nav-click i {
  display:block;
  height:48px;
  width:48px;
  background:url(../img/drop.svg) no-repeat center center;
  background-size:20px;
}
.nav-rotate {
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  transform:rotate(180deg);
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .nav-item:hover .nav-submenu {
    display:none;
  }
}
/*.menu-item{
    #offMenu ul:not(.sub-menu) & > a{
        padding:1em 1em 1em 2em;
        display:block;
        border-bottom: 1px solid currentColor;
        text-transform: uppercase;
        font-weight:bold;
    }
    #offMenu ul.sub-menu & > a{
        text-transform: none;
        font-weight:normal;
    }
}*/
/*.sub-menu{
    display:none;
    &.show {
        display:block;
    }
    #offMenu a:focus + &{
        display:block;
    }
    .current_page_item > &,
    .current-page-ancestor > &{
        display:block;
    }
}*/
/*.menu-item{


    
    #offMenu & > a:focus + .sub-menu{
        display:block;
    }
    #offMenu & {
        &:not(.menu-item-has-children) > a {
            margin-left: 7px;
        }
        &.menu-item-has-children > a:before {
                        @include icon-style ("\f0da", 0, 1, -14px, inherit);
                        margin-right:14px;
        }
        &.menu-item-has-children > a:before{
            @include icon-style ("\f0da", 1em, 1, -1em, inherit);
        }
        &.current_page_item.menu-item-has-children > a:before,
            &.current-page-ancestor.menu-item-has-children > a:before{
            @include icon-style ("\f0d7", 1em, 1, -1em, inherit);
        }
    }
    
    

}
*/