.menu-item{
	a{
		&:hover{
			text-decoration: none;
		}
	}
}
ul[class*='menu']{
	padding-left: 0;
	list-style: none;
}


.nav-tabs > li > a {
	color: $text-color;
}
.nav.nav-tabs.nav-justified {
    li{
    	position: relative;
        list-style: none;
        vertical-align:bottom;
        a {
	    	&:hover{
	    	    
	    	    background-color: $brand-secondary;
	    	    color: $white;
	    	}
        }
        
        > a {
            @include border-radius(0);
            border:0;
            @media screen and (min-width:$screen-sm) and (max-width:$screen-md){
                padding-left:0;
                padding-right:0;
            }
            
        }
        
        &.current_page_item{
            a, a:focus, a:active {
                @include active-style;
            }
        }
        &.menu-item-has-children {
        	> a:after{
        		@include icon-style ("\f0da", 0, 1, .5em, 1.1em);
        		color: currentColor;
        	}
        &.menu-item-has-children:hover{
	        	> a:after{
	        	content: "\f0d7";
	        	}
        	}
        }
        
        &:hover > .sub-menu{
        	display: block;
        	position: absolute;
        	top: auto;
        	left:auto;
        	z-index: 999;
        	padding-bottom: 1em;
        }
        .sub-menu{
        	display: none;
        	padding: 1em 0;
        	background: $brand-primary;
        	
        	a{
        		display: block;
        		padding: .2em 1em;
        		white-space:nowrap ;
        		color: $white !important;
        	}
        	li:hover > .sub-menu{
        		top: 0;
        		left: 99%;
        		padding: .5em 0;
        	}
        }
 /*** Ende submenu***/    
    }/*** Ende li***/
}/*** Ende nav.nav-tabs***/

/*** Service Menu **/
.service-links{
	background: $brand-primary;
	padding: 1em;
	*{color: $white;}
	
	.footer-menu{
		margin: 0;

		li{
			line-height: 2em;
			border: {
				width: 1px 0 0 0;
				style:solid;
				color: currentColor;
			}
			a{
				padding: .5em 0;
				white-space: normal;
				&:hover{
					color: inherit;
					}
				}
			> ul {
				a:before{
					@include icon-style ("\f0da", 1em, 1, 0, 1em);
				}
			}
			> ul ul > li > a{
				padding-left: 1.4em;
			} 
		}/** end li **/
		> li:first-child{
			border: 0;
		}
	}
}/*** Ende Service Menu **/

/*** Footer Links ***/
.sitemap{
	> ul {
		background: $bg-footer-sitemap;
		padding: 1em;
			* {
			color: $white;
			}
		> li {
			padding-left: 2em;
			margin-bottom: 1em;
			
			> a {
				display: block;
				border-bottom: 1px solid currentColor;
				font-weight: bold;
			}
		}
		> li:last-child > a {
			border: 0;
		}
		.sub-menu{
			margin: .5em 1em;
		}
	}
}/*** Ende Footer Links ***/

/*** Ende Footer Info ***/
.footer-info {
	
	> * {
		margin: 0;
		font-size: smaller;
		}
		
	* {color: $footer-links !important;}
	
	/** Footer links */
	[id*="menu-footer-links"]{
		
		li {
			float: left;
			display: inline-block;
			margin-right: 1em;
			&:last-child{margin: 0;
			}
		}
	}
	
	/*** Footer Logo ***/
	.footer-logo{
		@include svg-scale(30px);
	}
}

/*** copyright ***/
.copyright{
	margin: 1em auto;
	font-size: smaller;
	text-align: right;
	color: $white;
}

/*** Affix ***/
.affix{
	&#mainNav{
		background: $brand-primary;
		top: 0;
		left: 0;
		right: 0;
		z-index: 999;
		
		*{color: lighten($brand-primary,100%);}
	}
}
.affix-logo{
	@include svg-scale(30px);
	float: left;
		.logo-only{
			fill: #fff;
		}
	.affix-top & {display: none;}
}