/*------------------------------------------------
Formulare
--------------------------------------------------*/

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
    color: #999;
    font-style: italic;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    .row{
        margin-bottom: $vertical-spacing;
        &.submit{
            margin-bottom:0;
        }
    }
}
input[type="text"],
input[type="date"],
input[type="email"],
input[type="confirm_email"],
input[type="number"],
input[type="tel"],
textarea,
select { 
    background-color: $white;
    @include border-radius(0);
    border:1px solid $border-color;
    padding: 2% 5%; 
    @media screen and (max-width:$screen-xs){
        width:100%;
    }
    @media screen and (min-device-width:$screen-sm + 1) and (orientation:portrait){
        width: 90%;/*_NO__DOTCOMMA__AFTER__ */
        
    }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    @include appearance(none);
    margin: 0; 
}
input[type=number] {@include appearance(textfield);}
select {
    @include appearance(none);
    line-height:20px;
    background-image:url('../img/bg-select.png');
    background-position: 98% 50%;
    background-repeat: no-repeat; 
}
textarea {
    max-height: 120px;
    overflow: auto;
    resize: vertical;
}

.wpcf7{
    margin-bottom: 2em;
}
.wpcf7-form-control-wrap{
    display:block;
    > * {
        width:100%;
    }
}
.wpcf7-not-valid,
.wpcf7-validation-errors,
.wpcf7-message-mail-sent-ng,
.wpcf7-message-spam,
.wpcf7-message-invalid-email,
.wpcf7-message-upload-failed-php-error{ 
    border: 2px solid $brand-danger;
    background:$brand-warning;
}
.wpcf7-message-accept-terms,
.wpcf7-message-upload-failed,
.wpcf7-message-upload-file-type-invalid,
.wpcf7-message-upload-file-too-large{
    background: $brand-danger;
    color:$white;
}
.wpcf7-mail-sent-ok {
    font-size: large;
    color: $brand-success;
    font-style: italic;
    line-height: 2;
    padding: 2em;
    border: 0;
    background: transparent;
}
/*.row.submit{
    margin-top: 2em;
}*/
.row.checkbox > [class*="-12"]{
    padding:0;
}
.checkbox input[type="checkbox"]{
    float:none;
    margin: 0;
}
.checkbox span.wpcf7-form-control-wrap{margin-right:2em;}
