.container{
    @include outer-container;
    padding:0 $outer-grid;
    &#header{
        @media screen and (max-width:$screen-smallPad){
            .logo{
                margin:2.5 * $vertical-spacing 0 $vertical-spacing 0;
                ~.navbar-toggle{
                    position: absolute;
                    top:0;
                    right:0;
                }
            }
        }
        @media screen and (min-width:$screen-sm){
            @include display(flex);
            @include flex-direction(row);
            @include align-items(flex-end);
            > .logo{
                @include flex-basis(25%);
            }
            > .contact-data{
                @include flex-basis(75%);
            }
        }
    }
    .site-content{
        @include outer-container;
        .main-content{@include span-columns(8);}
        .sidebar{@include span-columns(4);}
    }
    .panels{
        clear: both;
        @include flexbox;
        > * {
            margin: 1em;
        }
        &.related{
            > * {
                @include flex(1);
            }
        }
        &.subpanels {

            @include flex-wrap(wrap);
            > * {
                @include flex-basis(calc(100%/3 - 2em));
            }
            > *:last-child{
                @include flex-grow(0);
                @include flex-shrink(0);
            }

        }
        &.smallpanels{
            width:66%;
            > .box {
                @include flex-basis(50%);
            }
        }
        .box {
            @include display(flex);
            @include flex-direction(column);
            @include justify-content(space-between);
            > .text{@include flex(2);}
        }
    }
    .full-content{
        @include outer-container;
        > .box, > .related {
            @include span-columns(4);
        }
    }

}
.footer-info{
    @include flexbox;
    address{
        @include flex(2);
        text-align: center;
    }
}
#wrapper{
    border:1px solid $foo;
}