.container{
    @include outer-container(1200px);
    padding:0 $outer-grid;
    > div, > footer{
            margin:$vertical-spacing 0;   
        }
    &#header{
        @media screen and (max-width:$screen-maxPhone){
            .logo{
                @media screen and (orientation:portrait){
                    margin:$vertical-spacing/2 1.5*$vertical-spacing $vertical-spacing/2 0;
                }
                @media screen and (orientation:landscape){
                    margin:$vertical-spacing/2 50% $vertical-spacing/2 0;
                } 
            }
        }
        @media screen and (min-width:$screen-sm){
            @include display(flex);
            @include flex-direction(row);
            @include align-items(flex-end);
            > .logo{
                @include flex-basis(25%);
            }
            > .contact-data{
                @include flex-basis(75%);
            }
        }
    }
    .site-content{
        /** ToDo Proof **/
/*        body[class*="page-main"] &{
            @media screen and (min-device-width:$screen-md) and (orientation:landscape){
            margin:0;
            height:0;
            overflow:hidden;
            }
        }*/
        @include outer-container(1200px);

        @media screen and (min-device-width:$screen-md) and (orientation:landscape){
            .main-content{@include span-columns(8);}
            .sidebar{@include span-columns(4);}
        }
    }
    .panels{
        clear:both;
        @include collapse-vert-style;
        @include display(flex);
        @include justify-content(space-between);
        @include align-items(stretch);
        > * {
            margin: 1em;
        }
        &.related{
            > * {
                @include flex(1);
            }
        }
        &.smallpanels{
            border:1px solid green;
            /*            width:66%;*/
        }
        &.subpanels{
            @include flex-wrap(wrap);
            @include flex-grow(1);
            > * {
                @media screen and (max-width:$screen-smallPad){
                    @include flex-basis(calc(100%));
                    margin-bottom:2em;
                }
                @media screen and (min-width:$screen-smallPad)and (max-width:$screen-md - 1){
                    @include flex-basis(calc(100%/2 - 2em));
                }
                @media screen and (min-width:$screen-md){
                    @include flex-basis(calc(100%/3 - 2em));
                    &:last-child{
                        @include flex-grow(0);
                        @include flex-shrink(0);  
                    }
                }
            }
        }
        .box {
            @media screen and (min-width:$screen-smallPad){
                @include display(flex);
                @include flex-direction(column);
                @include justify-content(space-between);
                > .text{@include flex(2);}
            }

        }

    }
    .full-content{
        @include outer-container(1200px);
        > .box, > .related {
            @media screen and (min-width:$screen-sm){
                @include span-columns(4);
            }  
        }
    }
}
.footer-info{
    @include flexbox;
    address{
        @include flex(2);
        text-align: center;
    }
}

[id*="banner"]{
    @media screen and (max-width:$screen-sm - 1){
        display:none;
    }
}

//vertical Grids
[id*="banner"]{
    padding: $vertical-spacing 0;
}
.site-content, 
.sidebar,
#footer{
    > * {
        margin:$vertical-spacing 0 0 0;
    }
    .service-links, .main-content, .sidebar, .sidebar > *:first-child{
        @include collapse-vert-style;
    }
}