.container{
    @include outer-container;

    &#header{
        > .logo{@include span-columns(4);}
        > .contact-data{@include span-columns(6);}
    }
    .site-content{
        
    }
    .panels{
        border:1px solid $foo;
        clear: both;
        @include display(flex);
        @include justify-content(space-between);
        @include align-items(stretch);
        @media screen and (max-width:$screen-sm){@include flex-direction(column);}
        @media screen and (min-width:$screen-md){@include flex-direction(row);}
        > * {
            margin: 1em;
        }
        &.related{
            > * {
                @include flex(1);
            }
        }
        &.subpages {
            @include flex-wrap(wrap);
            > * {
                @include flex-grow(1);
                @include flex-shrink(1);
                @include flex-basis(calc(100%/3 - 2em));
            }
            > *:last-child{
                @include flex-grow(0);
                @include flex-shrink(0);
            }

        }
    }
    .accordion{
        border:1px solid green;
    }
}