#wrapper {
    
    > header{
        * {
            color: #fff;
        }
        .contact-data{
            @include align-items(stretch);
            @include display(flex);
            @include justify-content(flex-end);
            
            @media screen and (max-width:$screen-smallPad){
                @include flex-direction(column);
            }
            @media screen and (min-width:$screen-smallPad + 1){
                @include flex-direction(row);
            }
            

            > a {
                 padding:0 .5em;
                 border-left:1px solid currentColor;
        
                .fa{
                    float:left;
                    margin:0 .5em 0 0;
                }
                .fa-external-link{display:none;}
                &:hover{
                    color:inherit;
                    opacity: .5;
                }
                &:first-child{
                    border:0;
                }
                @media screen and (max-width:$screen-smallPad){
                    width: 100%;
                    display:block;
                    font-size: 3rem;
                    border:0;
                    
                    i {
                        display:inline-block;
                        width: 44px;
                    }
                }
                @media screen and (max-device-width:$screen-smallPad) and (orientation:landscape){
                   font-size: 1.2rem; 
                }
                &.facebook span{
                    @media screen and (min-width:$screen-md){
                        display:none;
                    }
                }
                &.facebook {
                    @media screen and (min-device-width:$screen-sm) and (orientation:landscape){
                        span {display:none;}
                    }  
                }
            }
        }
    }
    > main {
        background: $mainBg;
    }
}