@import "reset.css";

$base-font-size:            100% !default;
$base-line-height:          150% !default;
$rem-base:                  14px !default;

$paragraph-margin:          1rem;

$headings-font-family:    'Titillium Web', Arial,Helvetica, sans-serif !important;
$body-font-family:        'Ubuntu', Arial,Helvetica, sans-serif; 

$heading-text-color:        $brand-primary;
$body-text-color:           $text-color;
$text-muted-color:          lighten($text-color,25%);
 %bold{font-weight:600};/** depends on font-fammily**/
 /* =============================================================================
   Variables & Mixins
   ========================================================================== */
@mixin headline-style ($weight,$mg-top, $mg-bottom){
    font-family:$headings-font-family;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    font-weight:$weight;
    margin-top: $mg-top;
    margin-bottom: $mg-bottom;
}
%main-headline-style-h3{
    font-size: 1.429em;
    @media screen and (max-device-width:$screen-xs) and (orientation:portrait){
        font-size:1.2em;
    }
    line-height: 1.2;
    margin-top:1em;
    margin-bottom: 0.5em;
}
%sidebar-headline-style-h3{
    font-size: 1.286em;
    font-weight: 600;
    margin-top:0;
    text-transform: none;
}
%sidebar-panel-style-h3{
    color:#000;
    margin-right:0;
}
%panel-headline-style{
    font-size: 1.2em !important;
    margin-top:0;
    min-height:50px;
}
/* =============================================================================
   Basics
   ========================================================================== */

html { font-size: 62.5%; -webkit-text-size-adjust: auto; -ms-text-size-adjust: auto;}

html, body, button, input, select, textarea { 
    font-family:$body-font-family;
    color: $text-color; }

::-moz-selection { 
    text-shadow: none;
    @include active-style;
}
::selection { 
    text-shadow: none;
    @include active-style;
}
.element {
  @include selection(true) {
    background-color: #ffbb52;
  }
}
// body typography
body {
    text-rendering: optimizeLegibility;
    font-size:$rem-base;
    font-weight:400;
    line-height: $base-line-height;
}
a {
    &,&:link {
        
        text-decoration: none;
        cursor:pointer;
    }
    
    .site-content & {
        color: $brand-primary;
        &:hover{
           color: $brand-secondary; 
           text-decoration: underline;
        }
    }
    [class*="footer"] & {
        color:$white;
    }
    &:visited, &.help:hover { 
        text-decoration: none;
    }
    &.help i:hover { cursor: pointer }
    &:hover,&:focus {outline:none;}

    .btn > & {
        color:inherit;
        display: block;
        cursor: pointer;
    }
}
h1,h2,h3,h4, legend, .number, .widgettitle{
    @include headline-style (400, 0, 1em);
    line-height: 1.1;
    color: $heading-text-color;

    a{
        text-decoration: none;
        color: $brand-primary;
    }
}
.page-title{
    @media screen and (max-width:$screen-smallPad){
        margin-top:0;
        word-wrap: initial;
        .page-header &{
            display:none;
        }
    }

    body.search & {display: block;}
    body[class*="-standorte"] &,
    body[class*="-main"]{
        display: none;
    }
}
// different font-sizes
h1 {
    font-size:1.5 * $rem-base;
    line-height: 1;
    color: #000;
    @media screen and (max-width:$screen-xs){
        font-size:2em;
    }
    .panel &{
        @extend %panel-headline-style; 
    }
    article &{
        @extend h2;
        color:$brand-primary;
    }
}

h2 {
    font-size:2.143 * $rem-base;
    line-height: 1;
    .category-link{margin-bottom: .2em;}
    .panel &{
        @extend %panel-headline-style;
    }
    @media screen and (max-width:$screen-xs){
        font-size:1.5em;
    }
    &.page-title{
        @media screen and (min-width:$screen-md){
            display:none;
        }
    }
}

h3 {
    @extend %main-headline-style-h3;
    .sidebar &, aside & {
        @extend %sidebar-headline-style-h3;

        a {
            @extend %sidebar-panel-style-h3; 
        }
    }
    .sidebar .box &, aside .box & {
        @extend %sidebar-panel-style-h3; 
        a {@extend %sidebar-panel-style-h3; }
    }
    .single-event & {
        font-size:1em;
        font-weight: 600;
        color:$foo;
    }
    .box & {
    margin-right:2em;
}
    .box & > a.ellipsis {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        word-wrap: break-word;
        display:block;
    }
}

h1, h2, h3 {
    a{
        &:hover{
            text-decoration:none;
            cursor:pointer;
        }
    }
         &.collapseHeadline > a{

            &:before{
                padding-right: .5em;
            } 

            &:hover{
                cursor:default;
            }
        }
}

h4,.h4,h5,.h5,h6,.h6 {
    font-size: 1.2em;
}

legend {
    border{
        width:1px 0 0 0;
        style:solid;
        color:$border-color;
        margin-top:1em;
    }
    &#anfrage:before, &#inquiry:before{
        content: ' ';
        display: block;
        height: 65px;
        margin: -65px 0 0;
    }
}
// paragraph text
p {
    margin: 0 0 $paragraph-margin;
    font-family: inherit;
    font-size: $rem-base;
    font-weight: normal;
    line-height: $base-line-height;


    &.lead {
        font-size: 1rem * 1.125;
        line-height: 1.33;
    }
}

a{
    color:$text-color;
    .logo &{
        body.home & {color:#fff;}
    }
    .footer &{
        text-decoration: none;
    }
}
// lists
ul,
ol {
    padding-left: 1.5rem;

    li {
        line-height: $base-line-height;
    }

    &.unstyled {
        padding: 0;
        list-style: none;
    }

    &.inline {
        margin: 0 1rem $paragraph-margin -1rem;
        padding: 0;
        list-style: none;
        overflow: hidden;

        & > li {
            display: block;
            float: left;
            margin-left: 1rem;
            list-style: none;
        }
    }
}

dl {
    margin: 0 0 $paragraph-margin;
    line-height: $base-line-height;
}

dt {
    font-weight: bold;
    /** oder **/
    @extend %bold;
}

dd {
    margin: 0 0 0.5rem;
}

b,.bold, strong{
    font-weight:bold
}
p, .close{
    font-size: 1em;
}
// blockquotes
blockquote {
    border-left: 2px solid $brand-primary;
    position: relative;
    margin: 1.5rem 1rem 1.5rem 3rem;
    text-align: left;

    p {
        @extend .lead;
    }

    &:before {
        content: "“";
        display: block;
        position: absolute;
        top: -1rem;
        left: -3rem;
        color: $text-muted-color;
        font-size: 5rem;
        line-height: 1;
    }
}
address{
    font-style: normal;
    .footer & {
        
        p{
            margin-bottom: $paragraph-margin * 0.2;
            font-size: .8rem;
        }
        > div {
            margin-bottom: $paragraph-margin * 0.5
        }
    }
}
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.text-muted { color: $text-muted-color; }
.text-smaller {font-size: smaller;}
.uppercase{
    text-transform:uppercase;
}

/*** tables ****/
table {
    width:100%;
    margin-bottom:2em;
}
/**** Misc ***/
.screen-reader-text{
	clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
/* Kleinerer Text */
.s {
    font-size: 0.9em;
}
.lead {
    @media screen and (min-width: $screen-xs) {
        font-size:1.143em;
        font-weight:inherit;
        line-height:inherit;
        margin-bottom: 1.857em;

        article.banner &, .banner-caption &{
            margin-bottom: 1em;
        }
        .panel &{font-size: 1em;}
    }
}
.contact-data{
    @extend .lead;
}
/***** Accordion Headlines****/
.collapseHeadline, h2.tablepress-table-name, legend {
    font-size:2em;
    margin:1em 0 .5em 0;
    @media screen and (max-width:$screen-xs){
        font-size:1.4em;
    }
    > a {
        span{
            display: inline-block;
            float:left;


            @media screen and (max-width:$screen-xs){
                width:80%; 
            }
            @media screen and (min-width:$screen-xs + 1){
                width:90%;  
            }
        }

        &.no-icon{
            ~ i{display:none;}
        }

        i.fa{
            float: left;
            margin-right: 16px;
        }
        &:hover, &:active {
            text-decoration: none;
            outline: none; 
        }
    }
    & + div {
        @media screen and (max-width:$screen-sm){
          padding-left:0px;  
        }
        @media screen and (min-width:$screen-sm + 1){
            padding-left:40px;
        }
    }
    
    .accordion & + div {
        padding-left: 0;
    }
    
    &:first-child{
        margin-top:0;
    }
}
/*------------------------------------------------
Sonderfälle
--------------------------------------------------*/
.carousel-caption > *,
legend, h2.category-link, h2.category-link a .panel h3, .number{
    color: $brand-primary;
}

.copyright{
    font-size: small;
    text-align: center;
}
.breadcrumbs{
    @media screen and (min-width:$screen-md){text-align: right;}
}